<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/maincss.css" />
    <title>SuperZoo - Accesorios</title>
</head>
<body style="background-color: #f7f5e1;">
    <div>
        <ul class="nav">
            <li><a href="{% url 'inicio' %}"><img class="logo" src="/static/images/SUPERZOOlogo.jpg" alt="Logo"></a> </li>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'alimentos'%}">Alimentos</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="{% url 'farmacia' %}">Farmacia</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href= "{% url 'carrito_compras' %}">Carrito de Compras</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container-card">
        <br>
        <div class="card" style="background: #ef5454;">
            <div class="contenido-card">
                <h3>Perros</h3>
                <a href="{% url 'accesorio' tipoP_id=2 tipoA_id=1 %}">
                    <img src="/static/images/choco.jpg" alt="" />
                </a>
            </div>
        </div>
        <br>
        <div class="card" style="background: #ef5454;">
            <div class="contenido-card">
                <h3>Gatos</h3>
                <a href="{% url 'accesorio' tipoP_id=2 tipoA_id=2 %}">
                    <img src="/static/images/cholito.jpg" alt="" />
                </a>
            </div>
        </div>
        <br>
        <div class="card" style="background: #ef5454;">
            <div class="contenido-card">
                <h3>Otras mascotas</h3>
                <a href="{% url 'accesorio' tipoP_id=2 tipoA_id=3 %}">
                    <img src="/static/images/otrasMasco.jpg" alt="" />
                </a>
            </div>
        </div>
        <br>
        <div class="card" style="background: #ef5454;">
            <div class="contenido-card">
                <h3>Todo</h3>
                <a href="{% url 'todos_productos' %}">
                    <img src="/static/images/todo.jpg" alt="" />
                </a>
            </div>
        </div>
        <br>
    </div>
</body>
</html>