<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>SuperZoo - Usuario</title>
	<link rel="stylesheet" href="/static/css/estilos.css" />
</head>
<body style="background-color: #f7f5e1;">
    
	<header class="header" style="background-color: #e3200e;">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="{% url 'inicio' %}"><img src="/static/images/SUPERZOOlogo.jpg" alt="Logo"></a>
			</div>
			<nav class="menu">
				<a href="{% url 'inicio' %}">Inicio</a>
				<a href="{% url 'alimentos'%}">Alimentos</a>
            	<a href="{% url 'accesorios' %}">Accesorios</a>
            	<a href="{% url 'farmacia' %}">Farmacia</a>
            	<a href="{% url 'nosotros' %}">Nosotros</a>
            	<a href="{% url 'contacto' %}">Contacto</a>
                <a href= "#">Carrito de Compras</a>
                <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
			</nav>
		</div>
        <br>
        <br>
        <br>
        <div class="contenido">
            <h1>Cambio de contraseña</h1>
            <form method="post" action="{% url 'cambiar_clave' %}">
                {% csrf_token %}
                
                <label for="contrasena_actual">Contraseña actual:</label>
                <input type="password" name="contrasena_actual" required>
                
                <label for="contraseña_nueva">Nueva contraseña:</label>
                <input type="password" name="contrasena_nueva" required>
            
                <button type="submit">Cambiar Contraseña</button>
              </form>
        </div>
	</header>
    
	<div class="capa"></div>

<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Ver boletas</a>
			<a href="{% url 'cambiar_nomape' %}">Editar Nombre/Apellido</a>
			<a href="#">Editar Contraseña</a>
			<a href="{% url 'cambiar_domicilio' %}">Editar Domicilio</a>
			<a href="#">Carrito de compras</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

</body>
</html>