<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>SuperZoo - Usuario</title>
	<link rel="stylesheet" href="/static/css/estilos.css" />
</head>
<body style="background-color: #f7f5e1;">
    
	<header class="header" style="background-color: #e3200e;">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<a href="{% url 'inicio' %}"><img src="/static/images/SUPERZOOlogo.jpg" alt="Logo"></a>
			</div>
			<nav class="menu">
				<a href="{% url 'inicio' %}">Inicio</a>
				<a href="{% url 'alimentos'%}">Alimentos</a>
            	<a href="{% url 'accesorios' %}">Accesorios</a>
            	<a href="{% url 'farmacia' %}">Farmacia</a>
            	<a href="{% url 'nosotros' %}">Nosotros</a>
            	<a href="{% url 'contacto' %}">Contacto</a>
                <a href="{% url 'ver_carrito' %}">Carrito de Compras</a>
                <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
			</nav>
		</div>
        <br>
        <br>
        <br>
	</header>
	<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="{% url 'cambiar_nomape' %}">Editar Usuario</a>
			<a href="{% url 'cambiar_clave' %}">Editar Contraseña</a>
			<a href="{% url 'ver_carrito' %}">Carrito de Compras</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>