<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/maincss.css" />
    <title>SuperZoo - Registro</title>
</head>
<body style="background-color: #f7f5e1;">
    <div>
        <ul class="nav">
            <li><a href="{% url 'inicio' %}"><img class="logo" src="/static/images/SUPERZOOlogo.jpg" alt="Logo"></a> </li>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'alimentos'%}">Alimentos</a></li>
            <li><a href="{% url 'accesorios' %}">Accesorios</a></li>
            <li><a href="{% url 'farmacia' %}">Farmacia</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'ver_carrito' %}">Carrito de Compras</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container-card-r">
        <br>
        <div class="card-r" style="background: #ef5454;">
            <div class="contenido-card-r">
                <div>
                    <h2 class="title">Registrate en superZoo</h2>
                </div>
                <form method="post" action="{% url 'registro' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_rut" class="form-label">RUT:</label>
                        <input type="text" id="id_rut"  class="form-control" name="rut" required>
                        {{error_messagerut}}
                    </div>
                    <div>
                        <label for="id_nombre" class="form-label">Nombre:</label>
                        <input type="text" id="id_nombre" class="form-control" name="nombre" required>
                    </div>
                    <div>
                        <label for="id_apellido" class="form-label">Apellidos:</label>
                        <input type="text" id="id_apellido" class="form-control" name="apellido" required>
                    </div>
                    <div>
                        <label for="id_correo" class="form-label">Correo:</label>
                        <input type="text" id="id_correo" class="form-control" name="correo" required>
                    </div>
                    <div>
                        <label for="id_celular" class="form-label">Celular:</label>
                        <input type="number" id="id_celular" class="form-control" name="celular" required>
                    </div>
                    <div>
                        <label for="id_comuna" class="form-label">Comuna:</label>
                        <input type="text" id="id_comuna" class="form-control" name="comuna" required>
                    </div>
                    <div>
                        <label for="id_direccion" class="form-label">Dirección:</label>
                        <input type="text" id="id_direccion" class="form-control" name="direccion" required>
                    </div>
                    <div>
                        <label for="id_contrasena" class="form-label">Contraseña:</label>
                        <input type="password" id="id_contrasena" class="form-control" name="contrasena" required>
                    </div>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
                {{error_message}}
            </div>
        </div>
    </div>
</body>
</html>