<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/maincss.css' %}">
    <script src="{% static 'js/registro.js' %}"></script>
    <title>SuperZoo - Registro</title>
</head>
<body style="background-color: #f7f5e1;">
    <div>
        <ul class="nav">
            <li><a href="{% url 'inicio' %}"><img class="logo" src="/static/images/SUPERZOOlogo.jpg" alt="Logo"></a> </li>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'alimentos'%}">Alimentos</a></li>
            <li><a href="{% url 'accesorios' %}">Accesorios</a></li>
            <li><a href="{% url 'farmacia' %}">Farmacia</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="#">Registrarse</a></li>
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container-card-r">
        <br>
        <div class="card-r" style="background: #ef5454;">
            <div class="contenido-card-r">
                <div>
                    <h2 class="title">Registrate en superZoo</h2>
                </div>
                <form method="post" action="{% url 'registro' %}">
                    {% csrf_token %}
                    <div class="mb-3" id="idDivRut">
                        <label for="id_rut" class="form-label">RUT: (formato: 12345678-9)</label>
                        <input type="text" id="id_rut"  class="form-control" name="rut" placeholder="Ejemplo: 12345678-9" maxlength="10" oninput="checkRut(this)" required>
                        {{error_messagerut}}
                    </div>
                    <div>
                        <label for="id_nombre" class="form-label">Nombre:</label>
                        <input type="text" id="id_nombre" class="form-control" name="nombre" placeholder="Ingrese su nombre" maxlength="50" required>
                    </div>
                    <div>
                        <label for="id_apellido" class="form-label">Apellidos:</label>
                        <input type="text" id="id_apellido" class="form-control" name="apellido" placeholder="Ingrese su apellido" maxlength="50" required>
                    </div>
                    <div>
                        <label for="id_correo" class="form-label">Correo:</label>
                        <input type="text" id="id_correo" class="form-control" name="correo" placeholder="Ejemplo@ejemplo.com" maxlength="50" required>
                    </div>
                    <div id="idDivCelular">
                        <label for="id_celular" class="form-label">Celular: (Ejemplo: 123456789)</label>
                        <input type="number" id="id_celular" class="form-control" name="celular" min='0' placeholder="123456789"  maxlength="9" oninput="this.value = this.value.replace(/\D/g,'')" required>
                    </div>
                    <div>
                        <label for="id_comuna" class="form-label">Comuna:</label>
                        <input type="text" id="id_comuna" class="form-control" name="comuna" placeholder="Ejemplo: Osorno" maxlength="50" required>
                    </div>
                    <div>
                        <label for="id_direccion" class="form-label">Dirección:</label>
                        <input type="text" id="id_direccion" class="form-control" name="direccion" placeholder="Ejemplo: Calle Falsa #123" maxlength="50" required>
                    </div>
                    <div>
                        <label for="id_contrasena" class="form-label">Contraseña: (maximo 50 caracteres)</label>
                        <input type="password" id="id_contrasena" class="form-control" name="contrasena" placeholder="Ingrese su contraseña" maxlength="50" required>
                    </div>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary" >Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>